.slider{
    margin-top: 64px;
}

.products {
    margin-top: 80px;
    
}

h1 {
    text-align: center;
    margin-bottom: 90px;
}

.persona{
    text-align: center;
    padding-left: 37%;
    
}

.imagenP {
    height: 300px;
    padding: 0px;
}