.slider{
    margin-top: 64px;
}

.products {
    margin-top: 80px;
    
}

.titulos{
    text-align: center;
    margin: 90px;
}

.persona{
    text-align: center;
    padding-left: 37%;
    
}

.imagenP {
    height: 300px;
    padding: 0px;
}

.blog{
    margin-left: 30%;
}

#footer{
    background: black;
    color: white;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

p{
    display: inline;
    padding-left: 12px;
}

#conte-footer{
    padding-top: 0.7%;
}
